@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #1f1a1a;
    --background-color: #f8f8f7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f8f8f7;
        --background-color: #1f1a1a;
    }
}

body {
    color: var(--text-color);
    background: var(--background-color);
}

@media screen and (max-width: 768px) {
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;
        clip-path: circle(0px at 85% 92%);
        -webkit-clip-path: circle(0px at 85% 92%);
        pointer-events: none;
    }

    #menu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu ul li {
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    #menu.open {
        clip-path: circle(1000px at 85% 92%);
        -webkit-clip-path: circle(1000px at 85% 92%);
        pointer-events: all;
    }

    #menu-btn.open div:nth-child(1) {
        transform: rotate(43deg) translate(3px, 3px);
    }

    #menu-btn.open div:nth-child(2) {
        display: none;
    }

    #menu-btn.open div:nth-child(3) {
        transform: rotate(139deg) translate(-2px, 3px);
    }
}
