@tailwind base;
@tailwind components;
@tailwind utilities;

.cover-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #3a0101, #1f1a1a75 70%);
}

:root {
    --text-color: #1f1a1a;
    --background-color: #f8f8f7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f8f8f7;
        --background-color: #1f1a1a;
    }
}

body {
    color: var(--text-color);
    background: var(--background-color);
}

.content p {
    margin-bottom: 12px;
}
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 12px;
    padding-left: 15px;
    border-left: 5px solid #c01f1f;
}
.content h2 {
    font-size: 32px;
}
.content h3 {
    font-size: 28px;
}
.content h4 {
    font-size: 24px;
}
.content h5 {
    font-size: 22px;
}
.content h6 {
    font-size: 18px;
}
.content img {
    height: auto !important;
    margin: 24px 0;
}

@media screen and (max-width: 768px) {
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;
        clip-path: circle(0px at 85% 92%);
        -webkit-clip-path: circle(0px at 85% 92%);
        pointer-events: none;
    }

    #menu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu ul li {
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    #menu.open {
        clip-path: circle(1000px at 85% 92%);
        -webkit-clip-path: circle(1000px at 85% 92%);
        pointer-events: all;
    }

    #menu-btn.open div:nth-child(1) {
        transform: rotate(43deg) translate(3px, 3px);
    }

    #menu-btn.open div:nth-child(2) {
        display: none;
    }

    #menu-btn.open div:nth-child(3) {
        transform: rotate(139deg) translate(-2px, 3px);
    }
}

#home-slider:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}

.active-page:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #fff;
}